// root
:root {
  @enums ff:"Outfit",sans-serif fw:400;
}

// utility
.u-heading {
  @enums fs:1.25em fw:700;
}

// wrapper
.c-layout {
  @enums w:100% wmax:1000px mx:auto;
}

// header
.c-header {
  @enums my:1.5rem;

  &--caption {
    @enums ff:"Rammetto^One",sans-serif fs:1.25em;
  }

  &--description {
    @enums fs:0.85em;
  }
}

// nav
.c-nav {
  @enums my:1.5rem;

  &--lists {
    @enums display:flex column-gap:1rem;

    &--item {
      &::before {
        @enums display:inline content:"\0bb\020" ct:color[[base,600]];
      }

      &--anchor {
        @enums fd:color[[magenta,300]]^underline^dotted^2px fdo:4px
        transition:text-decoration-color^0.25s^ease,color^0.25s^ease
        hover!ct:color[[magenta,500]] hover!fdc:color[[white,999,0%]];
      }
    }
  }
}

// contents
.c-contents {
  @enums display:grid row-gap:1.25rem container-type:inline-size;
}

.c-skills {
  @enums display:grid;

  &--item {
    @enums display:block;
  }
}

.c-projects {
  @enums display:grid gtc:repeat(auto-fit,minmax(260px,1fr)) gap:1rem^1.5rem m8:0.375rem;

  &--item {
    @enums display:grid gap:0.5rem px:1rem py:0.5rem bw:1px bc:color[[base,400]] br:0.75rem
    transition:transform^0.25s^ease,box-shadow^0.25s^ease,border-color^0.25s^ease,background-color^0.25s^ease
    hover!transform:translateY(-0.25rem) hover!box-shadow:0^0.5rem^1rem^color[[black,999,25%]] hover!bc:color[[magenta,300]] hover!cb:color[[magenta,50]];

    &--description {
      @enums fs:0.95em;
    }

    &--anchor {
      @enums fd:color[[magenta,300]]^underline^dotted^2px fdo:4px
      transition:text-decoration-color^0.25s^ease,color^0.25s^ease
      hover!ct:color[[magenta,500]] hover!fdc:color[[white,999,0%]];
    }
  }
}

.c-contact {
  @enums mx:auto w:600px wmax:100cqw;

  &--form {
    @enums display:grid gap:1rem;

    &--input {
      @enums px:0.5rem py:0.375rem br:0.5rem cb:color[[base,50]] ct:color[[base,950]] fs:1rem;
    }

    &--button {
      @enums py:0.5rem br:0.5rem cb:color[[magenta,300]] ct:color[[base,950]] fs:1rem cursor:pointer
      transition:background-color^0.25s^ease,color^0.25s^ease
      hover!cb:color[[white,999]] hover!ct:color[[magenta,500]];
    }
  }
}

// footer
.c-footer {
  @enums py:1.5rem fs:0.9rem text-align:center;
}
