name: Publish Package to npmjs
on: push
#on:
#  push:
#    branches:
#      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org/'
          #scope: '@hadukinei'
      #- run: npm i -g npm@latest
      - run: npm ci
      #- run: npm pkg fix
      #- run: npm publish --otp=068938
      #  env:
      #    NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN_PEIL }}
      - run: npm publish --provenance --access public
